body{
    background-color: rgb(255, 242, 174);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    
    .heading{
        font-family: "helvetica";
        color: black;
        background-color: rgb(228, 213, 135);
    }
    